---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Survey from '~/components/widgets/Survey.astro';

import { headerData } from '~/navigation';

const metadata = {
  title: 'Sello Genera Igualdad',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Login',
          href: '#',
        },
        {
          variant: 'primary',
          text: 'Sign Up',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <Survey
    title="Formación, docencia y desarrollo de aprendizaje."
    subtitle="Esta dimensión aborda y analiza la perspectiva de género en los planes formativos y competencias de la institución, los procesos de desarrollo laboral y cursos específicos en torno a la igualdad de género y no discriminación con un seguimiento pertinente."
    tagline=""
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Survey>


</Layout>
