---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'SaaS Landing Page',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Login',
          href: '#',
        },
        {
          variant: 'primary',
          text: 'Sign Up',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline=""
    actions={[
      { variant: 'primary', target: '_blank', text: 'Get Started', href: 'https://github.com/onwidget/astrowind' },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/b83761_aa1a3b241b234da7918e527ecbd26fee.jpg',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Sello Genera Igualdad
    </Fragment>

    <Fragment slot="subtitle">
      El Sello Genera Igualdad para las IES representa un compromiso
      transformador hacia la Igualdad de Género. El Sello Genera Igualdad
      para las IES es una herramienta que ayuda a transversalizar la
      perspectiva de género en las universidades. Así, este distintivo no
      solo busca que las IES alcancen estándares de excelencia, sino que
      también se conviertan en líderes en la promoción de la igualdad de
      género y el empoderamiento de las mujeres. Este sello cuenta con el
      respaldo técnico de prestigiosas entidades como la CEPAL y la
      Universidad de Chile.
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="¿Por qué necesitamos el Sello Genera Igualdad para Instituciones de Educación Superior?"
    subtitle=""
    columns={2}
    items={[
      {
        title: '',
        description:
    'Se basa en un análisis e investigación exhaustivos y fundamentados, apoyado en certificaciones análogas como el Sello de Igualdad de Género del Programa de las Naciones Unidas para el Desarrollo (PNUD) y el de la Universidad de Chile, entre otros.',
        icon: 'tabler:square-check',
      },
      {
        title: '',
    description: `Representa una ruta crítica ordenada, integral y coordinada, para que las IES y universidades de México transverzalicen la perspectiva de género y construyan espacios educativos no sexistas, sin discriminación e igualitarios.`,
        icon: 'tabler:square-check',
      },
      {
        title: '',
        description:
          'Busca mejorar las prácticas internas de las IES y también se alinea con los Objetivos de Desarrollo Sostenible (ODS).',
        icon: 'tabler:square-check',
      },
      {
        title: '',
    description: `Considera dos novedosas herramientas: 1) incorpora la dimensión de infraestructura en las IES y se hace uso de enfoques de design thinking en su construcción, lo que hace que de manera democrática y participativa se diseñe e implemente un plan de acción para la igualdad.`,
        icon: 'tabler:square-check',
      },
    ]}
  />

  <Hero2
    tagline=""
    actions={[
      { variant: 'primary', target: '_blank', text: 'Get Started', href: 'https://github.com/onwidget/astrowind' },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/11062b_32767f6b0af8451595ebdc0f849eb65d.webp',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Autodiagnóstico
    </Fragment>

    <Fragment slot="subtitle">
	    <p>Para implementar políticas efectivas que promuevan la igualdad en las IES, es crucial conocer el estatus actual de la institución en relación a este tema.</p>
	    <p>En este contexto, un autodiagnóstico se convierte en una herramienta esencial, ya que permite a las instituciones identificar sus fortalezas y debilidades en cuestiones de género. </p>
	    <p>Este proceso implica la recopilación y análisis de datos sobre la composición del personal, las oportunidades de liderazgo, las brechas salariales y la cultura organizacional.</p>
	    <p>Al realizar este análisis, se puede determinar si existen prácticas discriminatorias o sesgos que perpetúan la desigualdad.</p>
    </Fragment>
  </Hero2>

  <!-- Pricing Widget ******************* -->

  <Pricing
    title="Modalidades del Autodiagnóstico para definir la línea base de igualdad en las IES"
    prices={[
      {
        title: 'Autodiagnóstico de dimensiones y estándares',
    subtitle: 'El Sello Genera Igualdad para las IES establece un marco integral que abarca 9 dimensiones, 42 estándares y 40 indicadores. Estos elementos fundamentales permiten a las IES determinar su línea base y evaluar su progreso a lo largo del tiempo. La evaluación del cumplimiento se lleva a cabo en al menos dos etapas: durante el autodiagnóstico y la auditoría externa. Cada indicador cuenta con fuentes de verificación específicas que aseguran la validez de la información requerida para comprobar su cumplimiento.',
        price: '0',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
      {
        title: 'Encuesta sobre la percepción de igualdad de género: necesidades y acciones para su fomento',
    subtitle: 'Es una herramienta esencial para analizar los estereotipos de género, la discriminación y otras actitudes que impactan la igualdad de género. Mediante preguntas cuidadosamente elaboradas, se busca recopilar información sobre las percepciones y experiencias de los miembros de la comunidad en relación con este tema. La encuesta se realiza en línea a través de un formulario digital.',
        price: 15,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Upgrade to Pro',
          href: '#',
        },
      },
      {
        title: 'Autodiagnóstico Participativo',
    subtitle: 'Es una herramienta para validar y fortalecer los esfuerzos en la integración de la perspectiva de género dentro de las instituciones.  Entre las metodologías destacadas se encuentran las herramientas de design thinking, que fomentan la identificación y solución de problemas complejos mediante la creatividad y la colaboración. Estas herramientas ayudan en la generación de ideas y en la promoción del trabajo en equipo. Al ser un proceso democrático, esta herramienta ayuda a que el proceso sea consensuado, avalado, transparente y democrático.',
        price: 45,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Unlock Enterprise Features',
          href: '#',
        },
      },
    ]}
  />
</Layout>
