---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'SaaS Landing Page',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Login',
          href: '#',
        },
        {
          variant: 'primary',
          text: 'Sign Up',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline=""
    actions={[
      { variant: 'primary', target: '_blank', text: 'Get Started', href: 'https://github.com/onwidget/astrowind' },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/b83761_aa1a3b241b234da7918e527ecbd26fee.jpg',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Sello Genera Igualdad
    </Fragment>

    <Fragment slot="subtitle">
      El Sello Genera Igualdad para las IES representa un compromiso
      transformador hacia la Igualdad de Género. El Sello Genera Igualdad
      para las IES es una herramienta que ayuda a transversalizar la
      perspectiva de género en las universidades. Así, este distintivo no
      solo busca que las IES alcancen estándares de excelencia, sino que
      también se conviertan en líderes en la promoción de la igualdad de
      género y el empoderamiento de las mujeres. Este sello cuenta con el
      respaldo técnico de prestigiosas entidades como la CEPAL y la
      Universidad de Chile.
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="¿Por qué necesitamos el Sello Genera Igualdad para Instituciones de Educación Superior?"
    subtitle=""
    columns={2}
    items={[
      {
        title: '',
        description:
    'Se basa en un análisis e investigación exhaustivos y fundamentados, apoyado en certificaciones análogas como el Sello de Igualdad de Género del Programa de las Naciones Unidas para el Desarrollo (PNUD) y el de la Universidad de Chile, entre otros.',
        icon: 'tabler:square-check',
      },
      {
        title: '',
    description: `Representa una ruta crítica ordenada, integral y coordinada, para que las IES y universidades de México transverzalicen la perspectiva de género y construyan espacios educativos no sexistas, sin discriminación e igualitarios.`,
        icon: 'tabler:square-check',
      },
      {
        title: '',
        description:
          'Busca mejorar las prácticas internas de las IES y también se alinea con los Objetivos de Desarrollo Sostenible (ODS).',
        icon: 'tabler:square-check',
      },
      {
        title: '',
    description: `Considera dos novedosas herramientas: 1) incorpora la dimensión de infraestructura en las IES y se hace uso de enfoques de design thinking en su construcción, lo que hace que de manera democrática y participativa se diseñe e implemente un plan de acción para la igualdad.`,
        icon: 'tabler:square-check',
      },
    ]}
  />

  <Hero2
    tagline=""
    actions={[
      { variant: 'primary', target: '_blank', text: 'Get Started', href: 'https://github.com/onwidget/astrowind' },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/11062b_32767f6b0af8451595ebdc0f849eb65d.webp',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Autodiagnóstico
    </Fragment>

    <Fragment slot="subtitle">
	    <p>Para implementar políticas efectivas que promuevan la igualdad en las IES, es crucial conocer el estatus actual de la institución en relación a este tema.</p>
	    <p>En este contexto, un autodiagnóstico se convierte en una herramienta esencial, ya que permite a las instituciones identificar sus fortalezas y debilidades en cuestiones de género. </p>
	    <p>Este proceso implica la recopilación y análisis de datos sobre la composición del personal, las oportunidades de liderazgo, las brechas salariales y la cultura organizacional.</p>
	    <p>Al realizar este análisis, se puede determinar si existen prácticas discriminatorias o sesgos que perpetúan la desigualdad.</p>
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <Content
    items={[
      {
        title: 'Description:',
        description: `For small businesses, a well-crafted website can be a game-changer. AstroWind empowers small businesses to not only establish a credible online presence but also convert visitors into loyal customers. The template's thoughtful design and optimization features ensure that your website doesn't just attract attention but also guides visitors through a seamless journey, ultimately leading to conversions.`,
      },
      {
        title: 'Benefits:',
        description: `Present your small business with a professional and polished website that instills confidence and trust among visitors. <br /> Strategically placed CTAs, user-friendly forms, and optimized layouts work together to drive user engagement and conversions. <br /> Ensure a smooth browsing experience, reducing bounce rates and encouraging interaction.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1514621166532-aa7eb1a3a2f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Small Business Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Small business growth: <br /><span class="text-2xl">Converting visitors into customers</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <Pricing
    title="Modalidades del Autodiagnóstico para definir la línea base de igualdad en las IES"
    prices={[
      {
        title: 'Autodiagnóstico de dimensiones y estándares',
    subtitle: 'El Sello Genera Igualdad para las IES establece un marco integral que abarca 9 dimensiones, 42 estándares y 40 indicadores. Estos elementos fundamentales permiten a las IES determinar su línea base y evaluar su progreso a lo largo del tiempo. La evaluación del cumplimiento se lleva a cabo en al menos dos etapas: durante el autodiagnóstico y la auditoría externa. Cada indicador cuenta con fuentes de verificación específicas que aseguran la validez de la información requerida para comprobar su cumplimiento.',
        price: '0',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
      {
        title: 'Encuesta sobre la percepción de igualdad de género: necesidades y acciones para su fomento',
    subtitle: 'Es una herramienta esencial para analizar los estereotipos de género, la discriminación y otras actitudes que impactan la igualdad de género. Mediante preguntas cuidadosamente elaboradas, se busca recopilar información sobre las percepciones y experiencias de los miembros de la comunidad en relación con este tema. La encuesta se realiza en línea a través de un formulario digital.',
        price: 15,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Upgrade to Pro',
          href: '#',
        },
      },
      {
        title: 'Autodiagnóstico Participativo',
    subtitle: 'Es una herramienta para validar y fortalecer los esfuerzos en la integración de la perspectiva de género dentro de las instituciones.  Entre las metodologías destacadas se encuentran las herramientas de design thinking, que fomentan la identificación y solución de problemas complejos mediante la creatividad y la colaboración. Estas herramientas ayudan en la generación de ideas y en la promoción del trabajo en equipo. Al ser un proceso democrático, esta herramienta ayuda a que el proceso sea consensuado, avalado, transparente y democrático.',
        price: 45,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Unlock Enterprise Features',
          href: '#',
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'Is AstroWind compatible with the latest versions of Astro and Tailwind CSS?',
        description:
          'Yes, AstroWind is designed to be compatible with the latest versions of both Astro and Tailwind CSS. This ensures that you can harness the full capabilities of these technologies while benefiting from the features offered by AstroWind.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Can I use AstroWind for both personal and commercial projects?',
        description: `Certainly! AstroWind is versatile and can be used for a wide range of projects, including both personal and commercial endeavors. Whether you're building a professional portfolio, launching a startup, or creating a marketing website, AstroWind has you covered.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What level of coding knowledge is required to use AstroWind?',
        description:
          'While some familiarity with HTML, CSS, and web development concepts is helpful, the user-friendly interface and customization options allow those with limited coding experience to create impressive websites. For more advanced users, AstroWind offers extensive customization capabilities.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Is customer support available for AstroWind users seeking guidance?',
        description: `Absolutely, our dedicated customer support team is here to assist you with any questions or challenges you may encounter. Feel free to reach out to us through our support channels, and we'll be happy to provide the help you need.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Contact us',
      href: '/',
    }}
    items={[
      {
        title: 'Email us',
        description: 'contact@support.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Call us',
        description: '+1 (234) 567-890',
        icon: 'tabler:headset',
      },
      {
        title: 'Follow us',
        description: '@example',
        icon: 'tabler:brand-twitter',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Stay informed with AstroWind's blog"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and using AstroWind effectively for your projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
